.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bannerWrapper {
    background-color: var(--banner-background-color); /* ใช้ตัวแปร CSS Custom Property */
}